<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>GoHigh Rentals</title>
	<link rel="icon" type="image/png" 
          href="{{ url_for('static', filename='images/logo.png') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="login">
	<header style="display:flex; align-items:center; gap:10px;">

    <!-- Logo -->
    <img src="{{ url_for('static', filename='images/logo.png') }}" 
         alt="GoHigh Rentals Logo" 
         width="190">

    <!-- Text container -->
    <div>
        <h2 style="color:#1f3d2b; font-family:Arial; margin:0; font-size: 75px;">
            GOHIGH RENTALS
        </h2>

        <p style="color:#1f3d2b; font-family: Arial; margin:0; font-size: 45px;">
            Where miles meet momentum
            <br>
    <div>
        <button class="home-button"><a href="{{url_for('register') }}">New/Existing User</a></button>
    </div>   
        </p>
    </div>

</header>
</body>
</html>