<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>GoHigh Rentals</title>
	<link rel="icon" type="image/png" 
          href="{{ url_for('static', filename='images/logo.png') }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
	<header style="display:flex; align-items:center; gap:10px;">

    <!-- Logo -->
    <img src="{{ url_for('static', filename='images/logo.png') }}" 
         alt="GoHigh Rentals Logo" 
         width="60">

    <!-- Text container -->
    <div>
        <h2 style="color:#1f3d2b; font-family:Arial; margin:0;">
            GOHIGH RENTALS
        </h2>

        <p style="color:#1f3d2b; font-family: Arial; margin:0;">
            Where miles meet momentum
        </p>
    </div>

</header>
</body>
</html>